@import "tailwindcss";
@import "tw-animate-css";
@import "@mono-kit/ui/styles/globals.css";

@source "../../../apps/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";
@custom-variant dark (&:is(.dark *));

.react-flow__handle{
    @apply border-none bg-secondary-primary hover:bg-primary transition-colors duration-200;
}
.react-flow__edge .react-flow__edge-path {
    stroke: url(#edge-gradient) ; 
    stroke-width: 2 ;
    stroke-opacity: 0.75 ;
  }
.react-flow__handle.connectingto {
    @apply bg-red-500;
  }
.react-flow__handle.valid,.is_connected {
   @apply bg-green-500;
}